/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

@font-face {
font-family: 'droidkufi';
src: url('../fonts/droidkufi/DroidKufi-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

.smart-rtl body, body.smart-rtl {
    direction: rtl !important;
    font-family: 'droidkufi' !important;
    font-size: 12px;
    /*line-height: 1.42857;
    margin: 0;*/
}

 .react-datepicker {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.0rem !important;
    color: #000;
}

table.dataTable td.dt-center {
    text-align: center !important;
}

fieldset {
    display: block;
    padding: 5px 5px 5px !important;
    border: none;
    background: rgba(255,255,255,.9);
    position: relative;
}

.modal-body {
    position: relative;
    padding: 13px !important;
}

.smart-form footer {
    display: block;
    padding: 2px 14px 15px;
    border-top: 1px solid rgba(0,0,0,.1);
    background: rgba(248,248,248,.9);
}